@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Work Sans", sans-serif;
}

/* Header Related style */

header{
    background-color: #FF900E1A;
    padding: 50px 240px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}
nav li a {
    text-decoration: none;
    color: #424242;
}
.section-title{
    font-weight: 700;
    font-size: 3rem;
    color: #131313;
}

/* Banner related Style */

.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.btn-primary{
    padding: 22px ;
    background-color: #FF900E;
    color: white;
    border-radius: 10px;
    border: 0;
    font-size: 1.2rem;
    cursor: pointer;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}
.section-des{
    color: #727272;
    font-weight: 400;
}

.banner img{
    width: 100%;
    margin-top: 20px;
    
}




/* main section */

main{
    max-width: 1440px;
    margin: 0 auto;
}
.teams-container{
    display: flex;
    align-items: center;
}
.teams-image{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.teams-content{
    padding: 0 70px;
}
.teams-title{
    font-size: 2.8rem;
}

.teams-title .quick{
    color: #727272;
}
.teams-title .our{
    color: #131313;
    font-weight: 700;
}
.teams-title .Features{
    color: #FF900E;
    font-weight: 700;
}

/* Some Facts  */
.facts-card-container .card{
    border-radius: 5px;
    border: 1px solid orange;
    text-align: center;
    padding: 35px;
}
.facts-card-container{
    display: flex;
    justify-content: space-around;
}
.facts-card-container  .card-stat{
    font-size: 2.8rem;
    color: #424242;
    margin-top: 10px;
    margin-bottom: 10px;
}
.facts-card-container  .card-title{
    font-size: 1.2rem;
    color: #727272;
    font-weight: 600;
    margin-top: 5px;
}

/* sponsor section */
.sponsor{
    text-align: center;
}
.sponsor-image-container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    align-items: center;
    gap: 40px;
}
.sponsor-image-container img{
    width: 165px;
}







/* Responsive  */
/* Mobike device */
@media screen and (max-width: 576px ){
    header{
        padding: 20px;
    }
    nav , .teams-container , .facts-card-container,
    .sponsor-image-container
    {
        flex-direction: column;
    }
    .teams-image{
        grid-template-columns: 1fr;
    }
    .facts-card-container, .teams-content{
        padding: 0 20px;
    }
    .facts-card-container{
        gap: 20px;
    }
}

/* I pad or medium device  */

@media screen and (min-width: 576px) and (max-width:960px) {
    nav,.teams-container,
    .sponsor-image-container
    {
        flex-direction: column;
    }
    header{
        padding: 50px;
    }
    .teams-content{
        padding: 0 20px;
    }
}
